@CHARSET "UTF-8";

html, body {
	margin: 0;
	padding: 0;
	font-size: 0.9em;
}

#xycoordinates {
	position: absolute;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	color: #CCCCCC;
	font-size: 0.75em;
	font-weight: normal;
	font-family: "Courier New", Courier, monospace;
}

div#dnaExpViewDiv {
	font-size: 1em;
	height: 12em;
	border: 1px solid rgb(0,0,0);
}

div#dnaExpViewDiv a {
	margin-top: auto;
	margin-bottom: auto;
	vertical-align: middle;
	top: parent-top;
	display: inline-block;
	position: absolute;
	width: 2em;
	height: 6em;
	color: rgba(128,128,128,0.5);
	border: 1px solid rgba(192,192,192,0.1);
	font-family: "Courier New", Courier, monospace;
	font-weight: bold;
	font-size: 2em;
	text-decoration: none;
	text-align: center;
	text-shadow: 2px 2px rgba(0,0,0,0.0);
	background-color: transparent;
	cursor: pointer;
}
div#dnaExpViewDiv a:HOVER, div#dnaExpViewDiv a:FOCUS {
	color: #FFFFFF;
	border: 1px solid rgba(192,192,192,0.75);
	text-shadow: 2px 2px rgba(0,0,0,0.5);
	background-color: rgba(128,128,128,0.5);
}

div#dnaExpViewDiv a#dnaViewScrollLeftButton {
	left: 0px;
}

div#dnaExpViewDiv a#dnaViewScrollRightButton {
	right: 0px;
}

div#dnaExpViewDiv canvas#dnaViewCanvas {
	background-color: #666666;
	width:100%;
	height:100%;
	font-family: "Courier New", Courier, monospace;
	font-weight: normal;
	font-size: 10px;
}
