@CHARSET "UTF-8";

fieldset {
	padding: 1em;
	margin: 1em 3em 1em 3em;
	background-color: #F8F8F8;
	border: 1px solid #CCCCCC;
}

fieldset legend {
	position: fixed;
	left: -1000px;
}

fieldset ul {
	list-style-type: none;
	list-style-position: outside;
	margin: 0;
	padding: 0;
}

fieldset ul li {
	margin: 0.75em;
	clear: both;
}

fieldset ul li.nextCategory {
	border-top: 1px dashed #CCCCCC;
	padding-top: 0.75em;
}

fieldset ul li label, fieldset ul li input, fieldset ul li select {
	padding: 0.25em;
	margin: 0.25em 0em;
	display: inline-block;
}

fieldset ul li label {
	float: left;
	clear: right;
}

fieldset ul li input, fieldset ul li select {
	float: right;
	width: 50%;
}

fieldset ul li input[type="checkbox"] {
	display: none;
}

fieldset ul li input[type="checkbox"] + label {
	display: inline-block;
	cursor: pointer;
	position: relative;
	padding-left: 25px;
	margin-right: 15px;
}

fieldset ul li input[type="checkbox"] + label:BEFORE {
	content: "";
	display: inline-block;
	width: 16px;
	height: 16px;
	margin-right: 10px;
	position: absolute;
	left: 0;
	bottom: 1px;
	background-color: #AAA;
	border-radius: 3px;
	box-shadow: inset 0px 2px 3px 0px rgba(0, 0, 0, 0.3),
					  0px 1px 0px 0px rgba(255, 255, 255, 0.8);
}

fieldset ul li input[type="checkbox"]:CHECKED + label:BEFORE {
	content: "\2713";
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
	font-size: 15px;
	color: #F3F3F3;
	text-align: center;
	line-height: 15px;
}

fieldset ul li input[type="submit"], fieldset ul li input[type="reset"] {
	width: 25%;
	display: inline-block;
	float: right;
	margin: 1em 0em 1em 1em;
	padding: 0.25em 1em;
}



/* TODO sequence upload/download form elements...
fieldset ul li textarea {
	width: 100%;
	padding: 0.25em;
}

fieldset ul li textarea:DISABLED {
	background-color: #D4D0A8;
	border: 1px solid #909065;
}

fieldset ul li input#seqName, fieldset ul li input#seqFile {
	display: inline-block;
	width: 50%;
	float: none;
}
*/
